<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>联系作者:</span>
    <a
      b-slate-link
      href="./author.jpeg" target="_blank"
    >
      嘉隆
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="./reward.jpg" target="_blank"
    >
      打赏作者
    </a>
  </p>
</footer>
